@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIABLES */
/* MIXINS */
/* MAPS */
/* ENTIER */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ANIMATIONS - LOADING */
.index__body {
  -webkit-animation: hidden 0s 3s both;
          animation: hidden 0s 3s both;
}

table {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-animation: table 2s 3s forwards;
          animation: table 2s 3s forwards;
  cursor: wait;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-animation {
  height: 100px;
  width: 68px;
  position: relative;
  margin: 0px;
}

.loading-animation div {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 100%;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-animation div:nth-child(1) {
  left: 0px;
  -webkit-animation: loading-animation1 1s infinite;
          animation: loading-animation1 1s infinite;
}

.loading-animation div:nth-child(2) {
  left: 0px;
  -webkit-animation: loading-animation2 1s infinite;
          animation: loading-animation2 1s infinite;
}

.loading-animation div:nth-child(3) {
  left: 24px;
  -webkit-animation: loading-animation2 1s infinite;
          animation: loading-animation2 1s infinite;
}

.loading-text {
  text-align: center;
  color: #9356DC;
  font-size: 20px;
  font-weight: bold;
}

@-webkit-keyframes loading-animation1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading-animation1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loading-animation2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes loading-animation2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@-webkit-keyframes table {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-4000px, 0);
            transform: translate(-4000px, 0);
  }
}

@keyframes table {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-4000px, 0);
            transform: translate(-4000px, 0);
  }
}

@-webkit-keyframes hidden {
  0% {
    overflow-y: hidden;
    position: fixed;
  }
  100% {
    overflow-y: visible;
    position: inherit;
  }
}

@keyframes hidden {
  0% {
    overflow-y: hidden;
    position: fixed;
  }
  100% {
    overflow-y: visible;
    position: inherit;
  }
}

/* ANIMATIONS - BLOC */
@-webkit-keyframes dish {
  0% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes dish {
  0% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

/* ANIMATIONS - CHECK */
@-webkit-keyframes check {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes check {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px -12px 25px black;
          box-shadow: 0px -12px 25px black;
  position: relative;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo img {
  width: 50%;
  padding: 25px 0px 15px 0px;
}

/* BODY */
.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0px;
}

.search-bar__location-image {
  color: #474141;
  font-size: 18px;
  padding-left: 15px;
}

.search-bar__search input {
  text-align: center;
  color: #474141;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 0px;
  margin-left: 5px;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  font-size: 20px;
  padding: 40px 20px 60px 20px;
}

.summary h1 {
  font-weight: bolder;
  margin: unset;
  padding: 0px 30px;
}

.summary p {
  margin: 10px 0px 30px 0px;
}

.button {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  text-decoration: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  padding: 15px 20px;
}

.button:hover {
  opacity: 0.75;
  -webkit-box-shadow: 0px 5px 10px #9356DC;
          box-shadow: 0px 5px 10px #9356DC;
}

.functioning {
  padding: 50px 25px 50px 25px;
}

.functioning h2 {
  font-size: 26px;
  font-weight: bolder;
  margin-top: unset;
  padding-left: 8px;
}

.functioning__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.functioning__steps__restaurant-choice, .functioning__steps__menu-composition, .functioning__steps__enjoy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
}

.functioning__steps__restaurant-choice p, .functioning__steps__menu-composition p, .functioning__steps__enjoy p {
  color: white;
  background-color: #9356DC;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  left: -11px;
  border-radius: 50px;
  padding: 5px 10px;
}

.functioning__steps__restaurant-choice i, .functioning__steps__menu-composition i, .functioning__steps__enjoy i {
  color: grey;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  margin: 0px 20px;
}

.functioning__steps__restaurant-choice h3, .functioning__steps__menu-composition h3, .functioning__steps__enjoy h3 {
  color: black;
  margin: 25px 0px;
}

.functioning__steps__restaurant-choice:hover, .functioning__steps__menu-composition:hover, .functioning__steps__enjoy:hover {
  background-color: #9256dc23;
}

.functioning__steps__restaurant-choice:hover i, .functioning__steps__menu-composition:hover i, .functioning__steps__enjoy:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 50px 25px 70px 25px;
}

.restaurants h2 {
  font-size: 26px;
  font-weight: bolder;
  margin: 0px 0px 20px 0px;
}

.restaurants__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.restaurants__list__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 250px;
  min-width: 250px;
  color: black;
  text-decoration: none;
}

.restaurants__list__bloc__presentation {
  position: relative;
}

.restaurants__list__bloc__presentation__photo {
  height: 250px;
}

.restaurants__list__bloc__presentation__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants__list__bloc__presentation__new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: darkgreen;
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 14px;
  border-radius: 5px;
  padding: 10px 15px;
}

.restaurants__list__bloc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30%;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.restaurants__list__bloc__content:hover {
  background-color: #9256dc23;
}

.restaurants__list__bloc__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}

.restaurants__list__bloc__content__text h3 {
  font-size: 18px;
  font-weight: bold;
  margin: unset;
  padding: 15px 0px 0px 0px;
}

.restaurants__list__bloc__content__text h4 {
  font-size: 18px;
  font-weight: normal;
  margin: unset;
  padding: 0px 0px 15px 0px;
}

.restaurants__list__bloc__content__like {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  padding-right: 10%;
}

.restaurants__list__bloc__content__like:hover i.fa-heart.fill {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #9356DC, #FF79DA);
  background-size: 100% 1600%;
  background-position: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants__list__bloc__content__like i.fa-heart.fill {
  -webkit-transition: background-position 1s ease-in-out;
  transition: background-position 1s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #9356DC, #FF79DA);
  background-size: 100% 800%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #353535;
  padding: 20px 20px 20px 20px;
}

.footer__logo img {
  height: 20px;
}

.footer__list {
  list-style: none;
  padding-left: unset;
  margin-bottom: unset;
}

.footer__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-decoration: none;
  padding: 5px 0px;
}

.footer__list a i {
  width: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 15px;
}

.footer__list a p {
  margin: unset;
}

/* MENU - HEADER */
.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px 0px 15px 0px;
}

.header__arrow i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #474141;
  font-size: calc(10px + 4vw);
  position: absolute;
  left: 30px;
}

.header__logo {
  width: 100%;
}

/* MENU - BODY */
.restaurant-picture {
  height: 300px;
  margin-bottom: -75px;
}

.restaurant-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  padding: 10px 20px;
  border: 2px solid white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.restaurant__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__name h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}

.restaurant__name .like--restaurant {
  padding: 12px 0px 0px 0px;
}

.restaurant__menu {
  width: 100%;
}

.restaurant__menu__dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  width: 100%;
}

.restaurant__menu__dish h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

.restaurant__menu__dish__lign {
  height: 4px;
  width: 50px;
  background-color: #99E2D0;
  margin: 8px 0px 15px 0px;
}

.restaurant__menu__dish__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}

.restaurant__menu__dish__bloc__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 10px lightgrey;
          box-shadow: 0px 5px 10px lightgrey;
  border-radius: 30px;
}

.restaurant__menu__dish__bloc__tile__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  max-width: 100%;
  color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.restaurant__menu__dish__bloc__tile__element__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  padding-left: 20px;
}

.restaurant__menu__dish__bloc__tile__element__text h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0px 3px 0px;
}

.restaurant__menu__dish__bloc__tile__element__text h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 3px 0px 15px 0px;
}

.restaurant__menu__dish__bloc__tile__element__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 3px 25px 15px 0px;
}

.restaurant__menu__dish__bloc__tile__element__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0%;
  text-align: center;
  color: white;
  background-color: #99E2D0;
  font-size: 30px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.restaurant__menu__dish__bloc__tile:hover {
  background-color: #9256dc23;
}

.restaurant__menu__dish__bloc__tile:hover .restaurant__menu__dish__bloc__tile__element__text h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.restaurant__menu__dish__bloc__tile:hover .restaurant__menu__dish__bloc__tile__element__text h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.restaurant__menu__dish__bloc__tile:hover .restaurant__menu__dish__bloc__tile__element__check {
  width: 20%;
  overflow: hidden;
}

.restaurant__menu__dish__bloc__tile:hover .restaurant__menu__dish__bloc__tile__element__check i {
  -webkit-animation: check 0.5s ease-in-out;
          animation: check 0.5s ease-in-out;
}

.restaurant__order-button {
  text-align: center;
  margin: 60px 0px;
}

.dish__starter {
  -webkit-animation: dish 3s 0s both;
          animation: dish 3s 0s both;
}

.dish__main-course {
  -webkit-animation: dish 3s 0.5s both;
          animation: dish 3s 0.5s both;
}

.dish__dessert {
  -webkit-animation: dish 3s 1s both;
          animation: dish 3s 1s both;
}

/* VERSION DESKTOP + TABLETTE */
@media all and (min-width: 768px) {
  /* HEADER */
  .header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 80px;
  }
  .header__logo img {
    width: 25%;
  }
  .header__arrow i {
    font-size: calc(10px + 1.5vw);
    left: 15px;
  }
  /* BODY */
  .functioning h2 {
    text-align: center;
    padding-left: unset;
  }
  .functioning__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .functioning__steps__restaurant-choice, .functioning__steps__menu-composition, .functioning__steps__enjoy {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33% - 15px);
            flex: 0 0 calc(33% - 15px);
  }
  .functioning__steps__restaurant-choice h3, .functioning__steps__menu-composition h3, .functioning__steps__enjoy h3 {
    padding-right: 20px;
    text-align: center;
  }
  .restaurants h2 {
    padding-left: 50px;
  }
  .restaurants__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    padding: 0px 15px;
  }
  .restaurants__list__bloc {
    -ms-flex-preferred-size: calc(25% - 38px);
        flex-basis: calc(25% - 38px);
    margin: unset;
  }
  /* MENU - BODY */
  .restaurant-picture {
    min-height: 500px;
  }
  .restaurant__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
  .restaurant__menu__dish {
    width: calc(33% - 25px);
  }
  .restaurant__menu__dish__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .restaurant__order-button {
    margin: 60px 0px 70px 0px;
  }
}
/*# sourceMappingURL=OhMyFood-style-sass.css.map */