@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* VARIABLES */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fourth-color: #474141;
$background-color-lightgrey: #f6f6f6;
$font-family-primary: "Shrikhand";
$font-family-text: "Roboto";
$font-family-default: sans-serif;

/* MIXINS */

@mixin display-flex ($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin box-shadow-primary {
    box-shadow: 0px -12px 25px black;
}

@mixin box-shadow-secondary {
    box-shadow: 0px 5px 10px lightgrey;
}

@mixin box-shadow-secondary-hover {
    box-shadow: 0px 5px 10px #9356DC;
}

/* LIST */

/* MAPS */

$font-size: (input: 18px, logo: 20px, index-h1:20px, index-h2:26px, index-h3:18px, index-h4:18px, arrow:24px, h1:28px, h2:20px, h3:20px, h4:18px);
$font-weight: (input:bold, index-h1:bolder, index-h2:bolder, index-h3:bold, index-h4:normal, h2:normal, h3:bold, h4:normal);

/* ENTIER */

body {
    font-family: $font-family-text, $font-family-default;
    margin: 0px;
}

/* HEADER */

.header {
    @include display-flex(row);
    @include box-shadow-primary;
    position: relative;

    &__logo {        
        @include display-flex(row);
        justify-content: center;

        & img {
            width: 50%;
            padding: 25px 0px 15px 0px;
        }
    }
}

/* BODY */

.search-bar {
    @include display-flex(row);
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0px;

    &__location-image {
        color: $fourth-color;
        font-size: map-get($font-size, input);
        padding-right: 15px;
    }

    &__search input {        
        color: $fourth-color;        
        background-color: #eaeaea;
        font-family: $font-family-text, $font-family-default;
        font-size: map-get($font-size, input);
        font-weight: map-get($font-weight, input);
        width: 150px;
        border: none;        
    }
}

.homepage {
    @include display-flex(column);
}

.summary {
    @include display-flex(column);
    align-items: center;
    text-align: center;
    background-color: $background-color-lightgrey;
    font-size: map-get($font-size, index-h1);
    padding : 40px 20px 60px 20px;

    & h1 {
        margin: unset;
        padding: 0px 30px;
        font-weight: map-get($font-weight, index-h1);
    }

    & p {
        margin: 10px 0px 30px 0px;
    }
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, #FF79DA ,#9356DC);    
    border-radius: 50px;
    padding: 15px 20px;
    @include box-shadow-secondary;

    &:hover {
        opacity: 0.75;
        @include box-shadow-secondary-hover;
    }
}

.functioning {    
    padding : 50px 25px 50px 25px;

    & h2 {
        margin-top: unset;
        font-size: map-get($font-size, index-h2);
        font-weight: map-get($font-weight, index-h2);
        padding-left: 8px;
    }
    &__steps {
        @include display-flex(column);
        gap: 30px;

        &__restaurant-choice, &__menu-composition, &__enjoy {
            @include display-flex(row);
            text-decoration: none;
            background-color: $background-color-lightgrey;
            border-radius: 20px;
            @include box-shadow-secondary;
            
            & p {
                color: white;
                background-color: $primary-color;
                align-self: center;
                padding: 5px 10px;
                border-radius: 50px;
                position: relative;
                left: -11px;
            }

            & i {
                color: grey;
                align-self: center;
                font-size: map-get($font-size, logo);  
                margin: 0px 20px;         
            }

            & h3 {
                color: black;
                margin: 25px 0px;
            }

            &:hover {
                background-color: #9256dc23;

                & i {
                    color: $primary-color;
                }
            }
        }
    }
}

.restaurants {

    background-color: $background-color-lightgrey;
    padding: 50px 25px 70px 25px;

    & h2 {
        margin : 0px 0px 20px 0px;
        font-size: map-get($font-size, index-h2);
        font-weight: map-get($font-weight, index-h2);
    }

    &__list {
        @include display-flex(column);
        gap: 20px;

        &__bloc {
            @include display-flex(column);
            min-height: 250px;
            min-width: 250px;
            text-decoration: none;
            color: black;

            &__presentation {                
                position: relative;

                &__photo {
                    height: 250px;

                    & img {                        
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                }

                &__new {
                    width: fit-content;
                    position: absolute;
                    top: 13px;
                    right: 14px;
                    color: darkgreen;
                    background-color: $tertiary-color;
                    border-radius: 5px;
                    padding: 10px 15px;
                }
            }

            &__content {
                @include display-flex(row);
                justify-content: space-between;
                background-color: white;
                @include box-shadow-secondary;
                height: 30%;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;

                &:hover {
                    background-color: #9256dc23;
                }

                &__text {
                    @include display-flex(column);
                    justify-content: space-between;
                    padding: 0px 20px;
                    
                    & h3 {
                        margin: unset;
                        padding: 15px 0px 0px 0px;
                        font-size: map-get($font-size, index-h3);
                        font-weight: map-get($font-weight, index-h3);
                    }

                    & h4 {
                        margin: unset;
                        padding: 0px 0px 15px 0px;
                        font-size: map-get($font-size, index-h4);
                        font-weight: map-get($font-weight, index-h4);
                    }
                }

                &__like {
                    &__vide {
                    align-self: center;
                    font-size: 30px;
                    padding-right: 10%;

                        &:hover {
                            display: none;

                            & .restaurants__list__bloc__content__like__plein {
                                display: unset;

                                & i {
                                    background: linear-gradient(to bottom, #FF79DA ,#9356DC);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color:transparent;
                                }
                            }
                        }
                    }

                    &__plein {                                
                        display: none;                                                                     
                        align-self: center;                       
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

/* FOOTER */

.footer {
    @include display-flex(column);
    justify-content:space-between;
    background-color: #353535;
    padding: 20px 20px 20px 20px;

    &__logo img {
       height: 20px;
    }

     &__list {
	    list-style: none;
        padding-left: unset;
        margin-bottom: unset;

        & a {
            @include display-flex(row);
            width: fit-content;
            color: white;
            text-decoration: none;
            padding : 5px 0px;
            
            & i {
                align-self: center;
                width: 15px;
                padding-right: 15px;   
            }

            & p {
                margin: unset;
            }
        }
    }
}

/* MENU - HEADER */

.header {
    &__arrow {
        @include display-flex(row);

        & i{
            align-self: center;
            color: $fourth-color;
            font-size: calc(20px + 0.3vw);
            position: absolute;            
            left: 30px;
        }
    }

    &__logo {
        width: 100%;
    }
}

/* MENU - BODY */

.restaurant-picture {  
    height: 300px;
    margin-bottom: -75px;
    
    & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    }
}

.restaurant {
    @include display-flex(column);
    background-color: white;    
    position: relative;
    padding: 10px 20px;
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &__name {
        @include display-flex(row);
        justify-content: space-between;

        & h1 {
            font-family: $font-family-primary, $font-family-default;
            font-size: map-get($font-size, h1);
            font-weight: map-get($font-weight, h1);
            margin-bottom: 0px;
        }

        & i {
            align-self: flex-end;
            font-size: 25px;
            padding-right: 20px;
            padding-bottom: 8px;
        }
    }

    &__menu{
        &__dish {
            padding-top: 20px;

            & h2 {
                text-transform: uppercase;            
                font-size: map-get($font-size, h2);
                font-weight: map-get($font-weight, h2);
                margin-bottom: 0px;
            }

            &__lign{
                height: 4px;
                width: 50px;
                background-color: $tertiary-color;
                margin: 8px 0px 15px 0px;
            }
            
            &__bloc {
                @include display-flex(column);
                gap: 20px;
    
                &__element {
                    @include display-flex(row);
                    justify-content: space-between;
                    text-decoration: none;
                    color: black;
                    @include box-shadow-secondary;
                    border-radius: 30px;

                    &:hover {
                        background-color: #9256dc23;
                    }
    
                    &__text {
                        @include display-flex(column);
                        padding-left: 20px;
    
                        & h3 {
                            font-size: map-get($font-size, h3);
                            font-weight: map-get($font-weight, h3);
                            margin: 15px 0px 3px 0px;
                        }
    
                        & h4 {
                            font-size: map-get($font-size, h4);
                            font-weight: map-get($font-weight, h4);
                            margin: 3px 0px 15px 0px;
                        }
                    }
    
                    & p {
                        align-self: flex-end;
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    &__order-button {
        text-align: center;
        margin: 60px 0px;
    }
}

/* VERSION DESKTOP + TABLETTE */

@media all and (min-width: 768px)
{
/* HEADER */

    .header {
        &__logo {
            justify-content: flex-start;
            padding-left: 50px;

            & img {
                width: 25%;
            }
        }

        &__arrow i {            
            left: 15px;
        }
    }

/* BODY */    

    .functioning {        
        & h2 {
            text-align: center;
            padding-left: unset;
        }
        &__steps {           
            @include display-flex(row);
            align-items: center;
            gap: 30px;


            &__restaurant-choice, &__menu-composition, &__enjoy {
                flex: 0 0 calc(33% - 15px);

                & h3 {
                    padding-right: 20px;
                    text-align: center;
                }
            }
        }
    }

    .restaurants {          
        & h2 {
            padding-left: 50px; 
        }
    
        &__list {
            @include display-flex(row);
            width: 100%;
            gap: 40px;
            padding: 0px 15px;               
            flex-wrap: wrap;      
    
            &__bloc {                
                flex-basis: calc(25% - 38px);                        
                margin: unset;
            }
        }
    }

/* MENU - BODY */

    .restaurant-picture { 
        min-height: 500px;
    }

    .restaurant {
        &__menu{
            @include display-flex(row);
            gap: 50px;
            &__dish {
                width: calc(33% - 25px);
                
                &__bloc {
                    @include display-flex(column);
                    gap: 20px;
                }
            }
        }
    
        &__order-button {
            margin: 60px 0px 70px 0px;
        }   
    }
}