@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* VARIABLES */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fourth-color: #474141;
$background-color-lightgrey: #f6f6f6;
$font-family-primary: "Shrikhand";
$font-family-text: "Roboto";
$font-family-default: sans-serif;

/* MIXINS */

@mixin display-flex ($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin box-shadow-primary {
    box-shadow: 0px -12px 25px black;
}

@mixin box-shadow-secondary {
    box-shadow: 0px 5px 10px lightgrey;
}

@mixin box-shadow-secondary-hover {
    box-shadow: 0px 5px 10px $primary-color;
}

/* MAPS */

$font-size: (input: 18px, logo: 20px, index-h1:20px, index-h2:26px, index-h3:18px, index-h4:18px, h1:28px, h2:20px, h3:20px, h4:18px);
$font-weight: (input:bold, index-h1:bolder, index-h2:bolder, index-h3:bold, index-h4:normal, h2:normal, h3:bold, h4:normal);

/* ENTIER */

html, body {
    height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
}

body {
    font-family: $font-family-text, $font-family-default;
}

/* ANIMATIONS - LOADING */

.index__body {
    animation : hidden 0s 3s both;
}

table {
    min-height: 100%;
	min-width: 100%;
    @include display-flex(column);
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    animation : table 2s 3s forwards;
    cursor : wait;
}

.loading-spinner {
    @include display-flex(column);
    align-items: center;
}

.loading-animation {
    height: 100px;
    width: 68px;
    position: relative;
    margin: 0px;

    div {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 40px;
        background-image: linear-gradient(to bottom, $secondary-color, $primary-color);   
        border-radius: 100%;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 0px;
            animation: loading-animation1 1s infinite;
        }
    
        &:nth-child(2) {
            left: 0px;
            animation: loading-animation2 1s infinite;
        }
    
        &:nth-child(3) {
            left: 24px;
            animation: loading-animation2 1s infinite;    
        }
    }
}

.loading-text {    
    text-align: center;    
    color: $primary-color;
    font-size: 20px;
    font-weight: bold;
}

@keyframes loading-animation1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loading-animation2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes table {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-4000px, 0);
    }
}

@keyframes hidden {
    0% {
        overflow-y: hidden;
        position: fixed;
    }

    100% {
        overflow-y: visible;
        position: inherit;
    }
}

/* ANIMATIONS - BLOC */

@keyframes dish {
    0% {
        transform: translate(0, 30px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* ANIMATIONS - CHECK */

@keyframes check {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* HEADER */

.header {
    @include display-flex(row);
    @include box-shadow-primary;
    position: relative;

    &__logo {        
        @include display-flex(row);
        justify-content: center;

        img {
            width: 50%;
            padding: 25px 0px 15px 0px;
        }
    }
}

/* BODY */

.search-bar {
    @include display-flex(row);
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0px;

    &__location-image {
        color: $fourth-color;
        font-size: map-get($font-size, input);
        padding-left: 15px;
    }

    &__search input {
        text-align: center;      
        color: $fourth-color;        
        background-color: #eaeaea;
        font-family: $font-family-text, $font-family-default;
        font-size: map-get($font-size, input);
        font-weight: map-get($font-weight, input);
        border: none;
        padding: 0px;
        margin-left: 5px;        
    }
}

.homepage {
    @include display-flex(column);
}

.summary {
    @include display-flex(column);
    align-items: center;
    text-align: center;
    background-color: $background-color-lightgrey;
    font-size: map-get($font-size, index-h1);
    padding : 40px 20px 60px 20px;

    h1 {        
        font-weight: map-get($font-weight, index-h1);
        margin: unset;
        padding: 0px 30px;
    }

    p {
        margin: 10px 0px 30px 0px;
    }
}

.button {
    width: fit-content;
    color: white;
    background-image: linear-gradient(to bottom, $secondary-color, $primary-color); 
    text-decoration: none;   
    border-radius: 50px;
    @include box-shadow-secondary;
    padding: 15px 20px;

    &:hover {
        opacity: 0.75;
        @include box-shadow-secondary-hover;
    }
}

.functioning {    
    padding : 50px 25px 50px 25px;

    h2 {
        font-size: map-get($font-size, index-h2);
        font-weight: map-get($font-weight, index-h2);
        margin-top: unset;
        padding-left: 8px;
    }

    &__steps {
        @include display-flex(column);
        gap: 30px;

        &__restaurant-choice, &__menu-composition, &__enjoy {
            @include display-flex(row);
            text-decoration: none;
            background-color: $background-color-lightgrey;
            border-radius: 20px;
            @include box-shadow-secondary;
            
            p {
                color: white;
                background-color: $primary-color;
                align-self: center;
                position: relative;
                left: -11px;
                border-radius: 50px;
                padding: 5px 10px;
            }

            i {
                color: grey;
                align-self: center;
                font-size: map-get($font-size, logo);  
                margin: 0px 20px;         
            }

            h3 {
                color: black;
                margin: 25px 0px;
            }

            &:hover {
                background-color: #9256dc23;

                i {
                    color: $primary-color;
                }
            }
        }
    }
}

.restaurants {

    background-color: $background-color-lightgrey;
    padding: 50px 25px 70px 25px;

    h2 {
        font-size: map-get($font-size, index-h2);
        font-weight: map-get($font-weight, index-h2);
        margin : 0px 0px 20px 0px;
    }

    &__list {
        @include display-flex(column);
        gap: 20px;

        &__bloc {
            @include display-flex(column);
            min-height: 250px;
            min-width: 250px;
            color: black;
            text-decoration: none;

            &__presentation {                
                position: relative;

                &__photo {
                    height: 250px;

                    img {                        
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                }

                &__new {
                    width: fit-content;
                    color: darkgreen;
                    background-color: $tertiary-color;
                    position: absolute;
                    top: 13px;
                    right: 14px;
                    border-radius: 5px;
                    padding: 10px 15px;
                }
            }

            &__content {
                @include display-flex(row);
                justify-content: space-between;
                height: 30%;
                background-color: white;
                @include box-shadow-secondary;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;

                &:hover {
                    background-color: #9256dc23;
                }

                &__text {
                    @include display-flex(column);
                    justify-content: space-between;
                    padding: 0px 20px;
                    
                    h3 {
                        font-size: map-get($font-size, index-h3);
                        font-weight: map-get($font-weight, index-h3);
                        margin: unset;
                        padding: 15px 0px 0px 0px;
                    }

                    h4 {
                        font-size: map-get($font-size, index-h4);
                        font-weight: map-get($font-weight, index-h4);
                        margin: unset;
                        padding: 0px 0px 15px 0px;
                    }
                }

                &__like {
                    align-self: center;
                    font-size: 30px;
                    padding-right: 10%;

                    &:hover {
                        i {
                            &.fa-heart {
                                &.fill {
                                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $primary-color, $secondary-color);
                                    background-size: 100% 1600%;
                                    background-position: 100% 100%;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                        }
                    }

                    i {
                        &.fa-heart {
                            &.fill {
                                transition: background-position 1s ease-in-out;
                                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $primary-color, $secondary-color);
                                background-size: 100% 800%;
                                background-position: 0% 0%;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* FOOTER */

.footer {
    @include display-flex(column);
    justify-content:space-between;
    background-color: #353535;
    padding: 20px 20px 20px 20px;

    &__logo img {
       height: 20px;
    }

    &__list {
	    list-style: none;
        padding-left: unset;
        margin-bottom: unset;

        a {
            @include display-flex(row);
            width: fit-content;
            color: white;
            text-decoration: none;
            padding : 5px 0px;
            
            i {
                width: 15px;
                align-self: center;
                padding-right: 15px;   
            }

            p {
                margin: unset;
            }
        }
    }
}

/* MENU - HEADER */

.header {
    &__arrow {
        @include display-flex(row);
        padding: 25px 0px 15px 0px;

        i {
            align-self: center;
            color: $fourth-color;
            font-size: calc(10px + 4vw);
            position: absolute;            
            left: 30px;
        }
    }

    &__logo {
        width: 100%;
    }
}

/* MENU - BODY */

.restaurant-picture {  
    height: 300px;
    margin-bottom: -75px;
    
    img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    }
}

.restaurant {
    @include display-flex(column);
    background-color: white;    
    position: relative;
    padding: 10px 20px;
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &__name {
        @include display-flex(row);
        justify-content: space-between;

        h1 {
            font-family: $font-family-primary, $font-family-default;
            font-size: map-get($font-size, h1);
            font-weight: map-get($font-weight, h1);
            margin-bottom: 0px;
        }

        & .like--restaurant {
            padding: 12px 0px 0px 0px;
        }
    }

    &__menu{
        width: 100%;

        &__dish {
            @include display-flex(column);
            padding-top: 20px;
            width: 100%;

            h2 {
                text-transform: uppercase;            
                font-size: map-get($font-size, h2);
                font-weight: map-get($font-weight, h2);
                margin-bottom: 0px;
            }

            &__lign{
                height: 4px;
                width: 50px;
                background-color: $tertiary-color;
                margin: 8px 0px 15px 0px;
            }
            
            &__bloc {
                @include display-flex(column);
                gap: 20px;
                width: 100%;
    
                &__tile {                                        
                    @include display-flex(row);
                    justify-content: space-between;
                    width: 100%;
                    text-decoration: none;
                    overflow: hidden;
                    @include box-shadow-secondary;
                    border-radius: 30px;
                    
                    &__element {                   
                        @include display-flex(row);
                        justify-content: space-between;
                        width: 80%;                        
                        max-width: 100%;
                        color: black;                     
                        flex-grow: 1;
        
                        &__text {
                            @include display-flex(column);
                            width: 75%;                   
                            padding-left: 20px;    
                                
                            h3 {
                                font-size: map-get($font-size, h3);
                                font-weight: map-get($font-weight, h3);
                                margin: 15px 0px 3px 0px;
                            }
        
                            h4 {
                                font-size: map-get($font-size, h4);
                                font-weight: map-get($font-weight, h4);                                
                                margin: 3px 0px 15px 0px;
                            }
                        }
        
                        &__price {
                            @include display-flex(row);
                            align-self: flex-end;
                            margin: 3px 25px 15px 0px;
                        }

                        &__check {
                            @include display-flex(column);
                            justify-content: center;
                            width: 0%;
                            text-align: center;
                            color: white;
                            background-color: $tertiary-color;
                            font-size: 30px;                       
                            transition: width 0.5s ease-in-out;
                        }
                    }   
                    
                    &:hover {
                        background-color: #9256dc23;

                        & .restaurant__menu__dish__bloc__tile__element__text {
                            h3 {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }

                            h4 {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }

                        & .restaurant__menu__dish__bloc__tile__element__check {
                            width: 20%;
                            overflow: hidden;

                            i {
                                animation: check 0.5s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    &__order-button {            
        @include display-flex(column);
        align-items: center;
        margin: 60px 0px;
    }
}

.dish {
    &__starter {
        animation: dish 3s 0s both;
    }

    &__main-course {
        animation: dish 3s 0.5s both;
    }

    &__dessert {
        animation: dish 3s 1s both;
    }
}

/* VERSION DESKTOP + TABLETTE */

@media all and (min-width: 768px)
{
/* HEADER */

    .header {
        &__logo {
            justify-content: flex-start;
            padding-left: 80px;

            img {
                width: 25%;
            }
        }

        &__arrow i {            
            font-size: calc(10px + 1.5vw);            
            left: 15px;
        }
    }

/* BODY */    

    .functioning {        
        h2 {
            text-align: center;
            padding-left: unset;
        }
        &__steps {           
            @include display-flex(row);
            align-items: center;
            gap: 30px;


            &__restaurant-choice, &__menu-composition, &__enjoy {
                flex: 0 0 calc(33% - 15px);

                h3 {
                    padding-right: 20px;
                    text-align: center;
                }
            }
        }
    }

    .restaurants {          
        h2 {
            padding-left: 50px; 
        }
    
        &__list {
            @include display-flex(row);
            flex-wrap: wrap;
            width: 100%;
            gap: 40px;
            padding: 0px 15px;
    
            &__bloc {                
                flex-basis: calc(25% - 38px);                        
                margin: unset;
            }
        }
    }

/* MENU - BODY */

    .restaurant-picture { 
        min-height: 500px;
    }

    .restaurant {
        &__menu{
            @include display-flex(row);
            gap: 50px;
            &__dish {
                width: calc(33% - 25px);
                
                &__bloc {
                    @include display-flex(column);
                    gap: 20px;
                }
            }
        }
    
        &__order-button {
            margin: 60px 0px 70px 0px;
        }   
    }
}